@model List<User>

@{
    ViewData["Title"] = "Users";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>GUID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Group Count</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count(); i++)
        {
            var user = Model[i];
            <tr>
                <td>@Html.DisplayFor(u => user.UserId)</td>
                <td>@Html.DisplayFor(u => user.FirstName)</td>
                <td>@Html.DisplayFor(u => user.LastName)</td>
                <td>@Html.DisplayFor(u => user.Groups.Count)</td>
                <td>@Html.ActionLink("Edit", "EditUser", new { userId = user.UserId }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Delete", "RemoveUser", new { userId = user.UserId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("New User", "EditUser", "User", new { userId = new Guid() }, new { @class = "btn btn-success" })